body{
margin: 0px;
padding: 0px;
background: #f1f1f1;
font-family: arial;
box-sizing: border-box;
}

.otp,.otp:focus{
border:5px. solid black;
width:90px;
background-color:white;
color:black;
border-bottom-style: groove;
}