{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static', filename='js/xii.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/xii.css') }}">
      {% endblock head %}
{% block title %}Grade 12 Boards{% endblock title %} 
{% block body %}

<br>
<i class="fa-solid fa-magnifying-glass"></i>
<input onkeyup="myFunction()" placeholder="Search Here" type="text" id="search-xii">
<hr weight="5px"><br>

<table border="1px"id="tblxii">
<tr class="header">
<th width="26%"></th>
<th width="24%">Subject</th>
<th width="50%">Description</th>
</tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/English.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-eng"></td>
<td>ENGLISH</td>
<td>It's a exam model question for English for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/maths.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-maths"></td>
<td>MATHS</td>
<td>It's a exam model question for Mathematics for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/chemistry.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-sci"></td>
<td>CHEMISTRY</td>
<td>It's a exam model question for Chemistry for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/physics.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-sci"></td>
<td>PHYSICS</td>
<td>It's a exam model question for Physics for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/biology.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-sci"></td>
<td>BIOLOGY</td>
<td>It's a exam model question for Biology for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/social.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-soc"></td>
<td>SOCIAL STUDIES</td>
<td>It's a exam model question for Social Studies for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/nepali.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-nep"></td>
<td>NEPALI</td>
<td>It's a exam model question for Nepali for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/computer.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-nep"></td>
<td>COMPUTER SCIENCE</td>
<td>It's a exam model question for Computer for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/maths.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-omaths"></td>
<td>OPTIONAL MATHS</td>
<td>It's a exam model question for Optional Maths for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/economic.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-eco"></td>
<td>ECONOMICS</td>
<td>It's a exam model question for Economics for grade 12 and also for their Boards preparation.</td>
</a></tr>
<tr onclick="window.location='/oops'"><a href="#" >
<td><img src="{{ url_for('static', filename='images/account.jpg') }}" alt="picture" class="xii-sub-img" id="xii-img-acc"></td>
<td>ACCOUNT</td>
<td>It's a exam model question for Account for grade 12 and also for their Boards preparation.</td>
</a></tr>
</table>
<br>

{% endblock body %}